



<style>
  .comment{
    /*display:none;*/
    position:fixed;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    right:0px;
    top:0px;
    background-color: white;
    z-index: 102;
    display: block;
    overflow-y: scroll;
    height:70%;
  }
    .sub{
      z-index: 101;
    }
</style>

<div class="container">
  <div class="section">

    <!--   All Post   -->
    <% Post.all.each do |post| %>
      <div class="row" style="position:relative">
        <div class="col s12">
          <h5><%= post.title %> // <%= post.category.option %></h5>

          <!-- MAIN Option 별 디자인-->
          <% if post.category.option.include?("Video") %>
              <div class="plyr materialboxed">
                <div data-video-id="<%= embed(post.url) %>" data-type="youtube"></div>
              </div>
          <% elsif post.category.option.include?("Photo") %>
            <img class="materialboxed" src="<%= post.url %>" width="100%">

          <% end %>


          <!-- SUB Option 디자인 -->
          <div class="sub" style="position:absolute; left:0; top:0">
            <% if post.category.option.include?("History") %>
                  <% @suboption = "History" %>
                <div>
                  <a class="btn-floating btn-small teal sub-button"><i class="material-icons">comment</i></a>
                  <div class="comment">
                    <% @post = post %>
                    <%= render "comments/comments" %>
                  </div>
                </div>
            <% end %>

            <% if post.category.option.include?("Log") %>
                <% @suboption = "Log" %>
                  <div>
                    <a class="btn-floating btn-small teal sub-button"><i class="material-icons">replay</i></a>
                      <div class="comment">
                        <% @post = post %>
                        <%= render "comments/comments" %>
                      </div>
                  </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function(){
    plyr.setup();
    $('.materialboxed').materialbox();
    $(".plyr__controls").click(function(){
    })
    $(".sub-button").click(function(){
      $(".comment").hide();
      $(this).parent().find(".comment").fadeIn(1500)
    })


  });

    //when comment create button click and if textarea is not empty
    $()


    $(".comment_submit_btn").click(function(){
      v = $(this).parent().parent().find($("textarea")).val()
      x = "<li class='animated fadeInUp' style='white-space: pre-wrap;'>" + v + "</li>"

      $(this).parent().parent().parent().parent().parent().find($(".comments_list ul")).append(x)
    })
</script>
