

<div class="firstscreen" id="staggered-test">
  <% @post = @posts.first %>
  <% if @post.url.present? %>
      <img src=<%= @post.url %>>
  <% end %>
  <% if @post.avatar.present? %>
      <%= image_tag @post.avatar%>
  <% end %>
</div>


<div class="main_photo" id="staggered-test2">
  <div class="grid">
    <ul>
      <% @posts.each do |post| %>
          <li>
            <% if post.url.present? %>
                <img src=<%= post.url %>>
            <% end %>
            <% if post.avatar.present? %>
                <%= image_tag post.avatar, :width=>300 %>
            <% end %>
            <div class = "description">
              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
            </div>
          </li>
      <% end %>

      <% @posts.each do |post| %>
          <li>
            <% if post.url.present? %>
              <img src=<%= post.url %>>
            <% end %>
            <% if post.avatar.present? %>
                <%= image_tag post.avatar, :width=>300 %>
            <% end %>
          </li>
      <% end %>

      <% @posts.each do |post| %>
          <li>
            <% if post.url.present? %>
                <img src=<%= post.url %>>
            <% end %>
            <% if post.avatar.present? %>
                <%= image_tag post.avatar, :width=>300 %>
            <% end %>
          </li>
      <% end %>

    </ul>
  </div>


</div>