

<div class="container">
<h1>
 Languages
</h1>

  <% @language = [] %>

  <% @posts.each do |post| %>
    <% if(@language.exclude?(post.url.downcase))%>
      <% @language << (post.url.downcase) %>
          <h3>main</h3>
          <div class="main language_<%= post.url.downcase %>">
            <h4><%= post.title %></h4>
            <p><%= post.content %></p>
          </div>
    <% else %>
      <div class="sub language_<%= post.url.downcase %>">
        <h1>sub</h1>
        <h4><%= post.title %></h4>
        <p><%= post.content %></p>
      </div>

  <% end %>
  <% end %>

</div>
