




<div class="main">
  <!--<h1><%= @category.title%></h1>-->

  <!--first post shoud be bigger-->

  <div class="impress">
    <iframe src = "<%= embed(@posts.first.url) %>
 "></iframe>
    <a class="waves-effect waves-light btn-floating black modal-trigger modal-position" href="#modal<%= @posts.first.id %>">
      <i class="material-icons">info_outline</i></a>
    </a>
  </div>


  <!-- Modal Structure -->
  <div id="modal<%= @posts.first.id %>" class="modal bottom-sheet">
    <div class="modal-content">
      <h4><%= @posts.first.title %></h4>
      <p><%= simple_format(@posts.first.content) %></p>
    </div>
  </div>

    <!--<div class="section white">-->
      <!--<div class="row container">-->
        <!--<h2 class="header"><%= @posts.first.title %></h2>-->
        <!--<p class="grey-text text-darken-3 lighten-3"><%= simple_format(@posts.first.content) %></p>-->
      <!--</div>-->
    <!--</div>-->
  </div>


  <div class="sub">
    <ul>
  <% @posts.each do |post| %>
        <li>
          <div class="video-position">
            <iframe src = "<%= embed(post.url) %>">
            </iframe>

            <a class="waves-effect waves-light btn-floating black modal-trigger modal-position info-icon" href="#modal<%= post.id %>">
              <i class="material-icons">info_outline</i></a>
            </a>
          </div>


          <!-- Modal Structure -->
          <div id="modal<%= post.id %>" class="modal bottom-sheet">
            <div class="modal-content">
              <h4><%= post.title %></h4>
              <p><%= simple_format(post.content) %></p>
            </div>
          </div>
          <% if post.category.option.include?("History") %>
              <div>
                <a class="btn-floating btn-small blue lighten-3 comment-icon"><i class="material-icons">comment</i></a>
                <div class="comment">
                  <% @post = post %>
                  <%= render "comments/comments" %>
                </div>
              </div>

          <% end %>
        </li>
    <% end %>
      </ul>
  </div>

<script>

  $(document).ready(function(){
    //set scroll down
    //when you click comment then hide again
    $(".comment_header").click(function(){
      $('.comment').fadeOut(500)
    })

    //show comment when you click
    $(".comment-icon").click(function(){
      $('.comment').fadeOut(500)
      $(this).parent().find($(".comment")).fadeIn(500)
      v = $(this).parent().find(".comments_list")
      v.animate({scrollTop: v.prop("scrollHeight")}, 0)
    })

    $('.info-icon').click(function(){
      $('.comment').fadeOut(500);
    })
    $('.modal-trigger').leanModal();
  })
</script>

</div>
