<div class="container">
  <div class="section">
    <%= form_for(@category) do |f| %>
         <div class="row">
          <div class="input-field col">
          <%= f.text_field :title, :id => "text", :class=> "text" %>
          <label class="active" for="category_title">Category Title</label>
        </div>



          <div class="input-field col ">
            <%= f.select :option, ['Video', 'Photo','Software','Language']%>
          </div>



          <div class="input-field col s12">
            <%= f.select :sub, options_for_select(["Location", "Date", "Logs","History"]), {}, {:multiple => true} %>
          </div>




          <div class="actions">
        <%= button_tag( :class => "btn-floating btn-small blue lighten-3") do %>
                <i class="material-icons">publish</i>
            <% end %>
          </div>
        </div>
        <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>